@font-face 
  font-family glober-thin
  src url("../fonts/GloberThin/GloberThin.eot")
  src url("../fonts/GloberThin/GloberThin.eot?#iefix")format("embedded-opentype"), url("../fonts/GloberThin/GloberThin.woff") format("woff"), url("../fonts/GloberThin/GloberThin.ttf") format("truetype")
  font-style normal
  font-weight normal


@font-face 
  font-family glober-bold
  src url("../fonts/GloberBold/GloberBold.eot")
  src url("../fonts/GloberBold/GloberBold.eot?#iefix")format("embedded-opentype"), url("../fonts/GloberBold/GloberBold.woff") format("woff"), url("../fonts/GloberBold/GloberBold.ttf") format("truetype")
  font-style normal
  font-weight normal

