.footer
  padding 20px 0 20px 0
  font-size 15px
  box-sizing border-box
  background-color footer-dark

  &__color-middle
    color font-middle
    font-family glober-thin
    font-weight 600

  &__color-light
    color font-light
    font-family glober-bold