.rest
  width 100%
  max-width 560px
  margin-bottom 85px

  &._last
    margin-bottom 0

  &__description
    font-size 15px
    font-family glober-thin
    font-weight 600

  &__link
    font-size 15px
    font-family glober-bold

    & a
      color font-dark
      text-decoration underline

  &__name
    margin-bottom 32px

  &__name__img
    display block

  &__name__text
    color font-light
    width 100%
    padding 20px 0 20px 30px
    font-size 18px
    max-width 368px
    box-sizing border-box
    font-weight 600

    &._orange
      background-color orange
    &._blue
      background-color blue
    &._violet
      background-color violet
    &._green
      background-color green
