// variables
@import variables

//components
@import footer
@import slider
@import rest
@import rest-container
@import header

//stuff
@import stuff

//normalize
@import 'normalize.css'

//fonts
@import fonts

//slider
@import 'slider-pro.css'