//colors
orange = #f39323
blue   = #02aef0
violet = #90278e
green  = #9cbb43
grey   = #b4b4b4

header-light = #fafafa
footer-dark  = #1d2124

font-dark   = #2a2a2a
font-middle = #98989a
font-light  = #fff


